@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EStoreAdminModel.Models.Brands;
@model CreateBrandModel;
<html>
<head>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="col-lg-8 mx-auto rounder border p-3 mt-3">
            <div class="row">
                <div class="h1 text-center">
                    Create Brand
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="row mt-3">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label asp-for="Name"> Brand Name</label>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <input type="text" asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <a class="btn btn-outline-secondary">
                            Cancel
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-outline-primary"
                                asp-controller="Brand"
                                asp-action="Create">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>